{{ define "main" }}
    <h1>This is {{ .Site.Title }}</h1>
    {{ .Content }}
    <!-- Add any other content specific to your homepage -->
    <h2>Recent Blog Posts</h2>
<ul>
    {{ range first 5 (where .Site.RegularPages "Type" "blog").ByDate.Reverse }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span>{{ .Date.Format "January 2, 2006" }}</span>
    </li>
    {{ end }}
</ul>
<h2>Recent Editorial Posts</h2>
<ul>
    {{ range first 5 (where .Site.RegularPages "Type" "editorial").ByDate.Reverse }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span>{{ .Date.Format "January 2, 2006" }}</span>
    </li>
    {{ end }}
</ul>

<h1> All Tags on Worldwide Stew</h1>
<ul>
  {{ range .Site.Taxonomies.tags }}
  <li>
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul>

{{ end }}
